*,
*::after,
*::before {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

:root {
  font-family: sans-serif;
  font-style: 18px;
  line-height: 1.2em;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  max-width: 350px;

  padding: 10px;
  border: 2px solid teal;
  margin: 10px;
}

.container > *{
  flex-grow: 0.5;
}

.event-name{
  margin-left: auto;
}

.event-name > span{
  display: inline-block;
  
  text-align: center;
}

.event-date{
  text-align: right;
}
